## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [6]:
a = 9
print(a)

9

2) Imprimir el tipo de dato de la constante 8.5

In [5]:
x = 8.5
print(type(x))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [7]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [10]:
y = 'Erik'

5) Crear una variable que contenga un número complejo

In [9]:
c = 4 + 9j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [11]:
print(type(x))

<class 'float'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [15]:
import math
r = round(math.pi,4)

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [16]:
s = True
n = False
s == n

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [17]:
print(type(s))
print(type(n))

<class 'bool'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
suma = 3 + 4.2

11) Realizar una operación de suma de números complejos

In [19]:
a = 5 + 3j
b = 6 + 2j
s = a + b

12) Realizar una operación de suma de un número real y otro complejo

In [20]:
real = 4
comp = 5.3 + 6j
z = real + comp

13) Realizar una operación de multiplicación

In [21]:
4*3

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [22]:
n = 2
n**=8
print(n)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
x = 27 / 4
print(x)

6.75

16) De la división anterior solamente mostrar la parte entera

In [24]:
y = 27 // 4
print(y)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
z = 27 % 4
print(z)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [26]:
y*4+z

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [29]:
x1 = 'numero '
x2 = 'uno'
print(x1 + x2)

numero uno

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [30]:
"2" == 2 #No es igual por que son diferente tipo de datos

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [33]:
"2" == str(2)
#int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [40]:
a = float('3.8') #No se reconoce la coma
print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [42]:
r = 3
r -= 1
print(r)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [43]:
1<<2 # El resultado es 4, debido a que el numero de la izquierda es reconocido como un numero binario
     # y es recorrido dos posiciones hacia la izquierda, lo que resulta en el numero binario 0100

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [44]:
2 + '2' # Manda error por que los datos no son del mismo tipo. Tendriamos un resultado valido si ambos fueran del mismo tipo: en el caso
        #numerico el resultado seria 4 mientras que en el caso tipo cadena se concatenarian ambos numeors y el resultado seria '22'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [45]:
2 + int('2')
str(2) + '2'

'22'